@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style:none;
}

section {
    position: absolute;
    width:100%;
    min-height: 100vh;
    padding: 70px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background:#d4d3d4;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    width: 100px;

}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color:#2c394a;
    font-weight: 400;
    margin-left: 40px;
    transition: opacity 250ms;
}

header ul li a:hover {
    opacity: 0.8;
}

.loading {
    margin-top: 50px;
    margin-left: -180px;
    border-radius: 20px;
    transition: 2s;
  }

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox h3 {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color:#2c394a;
    font-size: 4.1em;
    line-height: 1.8em;
    font-weight: 450;
}

p {
    color:#2c394a;
}

img {
    position: inherit;
}

a:link, a:visited {
    text-decoration: none;
    color:#6e3e55;
}

h3 {
    color:#2c394a;
    font-size:3.1em;
    line-height: 1em;
    font-weight: 300;
}

h4 {
    color:#2c394a;
    font-size:1.5em;
    line-height: 1.2em;
    font-weight: 150;
}
.social {
    position:absolute;
    top:50%;
    right:80px;
    transform: translateY(-30%);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.social li a {
    display: inline-block;
    margin: 3px 0;
}

.social li a img {
    transition: opacity 200ms;
}

.social li a img:hover {
    opacity: 0.8;
}

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background:#d4d3d4;
    color:#2c394a;
}
